<nav class="navbar fixed-top navbar-expand-lg p-4 ">
    <div class="container">
      <a class="navbar-brand w-50 text-white" routerLink="home">START ANGULAR</a>
      <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">Menu
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarNavAltMarkup">
        <div class="navbar-nav w-40 ">
          <a class="nav-link text-white m-2" routerLinkActive=" btn " routerLink="Portfolio">Portfolio</a>
          <a class="nav-link text-white m-2" routerLinkActive=" btn " routerLink="about">About</a>
          <a class="nav-link text-white m-2" routerLinkActive="btn " routerLink="contacts">Contact</a>
        </div>
      </div>
    </div>
  </nav>