<div class="contact">
    <h1>Contact us</h1>
    <div class="lines d-flex ">
        <div class="line"></div>
        <i class="fa-solid fa-star icona"></i>
        <div class="line"></div>
    </div>
    <div class="mb-3 w-50 forma m-auto">
        <input type="name" class="form-control border-bottom p-3" id="exampleFormControlInput1" placeholder="Name">
        <input type="email" class="form-control border-bottom p-3" id="exampleFormControlInput1" placeholder="Email Address">
        <input type="phone" class="form-control border-bottom p-3" id="exampleFormControlInput1" placeholder="Phone">
     <textarea class="form-control border-bottom p-3" id="exampleFormControlTextarea1" rows="3" placeholder="Meassage"></textarea>
     <button>Send</button>
    </div>
</div>