<div class="portfolio">
    <h1>Portfolio</h1>
<div class="lines d-flex ">
    <div class="line"></div>
    <i class="fa-solid fa-star icona"></i>
    <div class="line"></div>
</div>
<div class="container d-flex">
    <div class="col-md-4 m-3">
        <img class="img-fluid" src="assets/img/cabin.png" alt="" width="380px">
    </div>
    <div class="col-md-4 m-3">
        <img class="img-fluid" src="assets/img/cake.png" alt=""  width="380px">

    </div>
    <div class="col-md-4 m-3">
        <img class="img-fluid" src="assets/img/circus.png" alt=""  width="380px">
    </div>
</div>
<div class="container d-flex mt-3">
    <div class="col-md-4 m-3">
        <img class="img-fluid" src="assets/img/game.png" alt="" width="380px">
    </div>
    <div class="col-md-4 m-3">
        <img class="img-fluid" src="assets/img/safe.png" alt=""  width="380px">

    </div>
    <div class="col-md-4 m-3">
        <img class="img-fluid" src="assets/img/submarine.png" alt=""  width="380px">
    </div>
</div>
</div>